.order_id {
    text-align: center;
}
.order_name, .order_title {
    font-size: 30px;
}

.order_status {
    margin: 0;
}

.order_price {
    display: flex;
    justify-content: space-between;
}

.order_total {
    display: flex;
}

.order_list {
    height: 250px;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 24px;
}

.order {
    margin: 0 auto;
}