.order_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i_image {
    background-color: #131316;
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    outline: 3px solid rgb(136, 118, 236);
    width: 64px;
}

.pricing {
    display: flex;
    align-items: center;
}

.order_span {
    line-height: 0.86;
}

.container {
    display: flex;
}