.feed_item {
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    padding: 24px;
    max-width: 584px;
}

.order_id {
    font-size: 28px;
}

.order_info {
    display: flex;
    justify-content: space-between;
}

.order_name {
    font-size: 24px;
}

.order_price {
    display: flex;
}

.link {
    color: unset;
    text-decoration: none;
}

.ingredient_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

.max_ingredient {
    align-items: center;
    background-color: #1C1C21;
    border-radius: 50%;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 48px;
}

.i_image {
    background-color: #131316;
    border-radius: 50%;
    height: 48px;
    object-fit: cover;
    outline: 2px solid rgb(136, 118, 236);
    width: 48px;
}

.ingredient_img {
    margin-right: -20px;
    position: relative;
}