header {
  align-items: center;
  display: flex;
  height: 88px;
  justify-content: space-around;
}

nav {
  display: flex;
}

.nav_link {
  align-items: center;
  color: #8585AD;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.nav_link_active {
  align-items: center;
  color: #F2F2F3;
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

